body{	
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #0e1a2d;
}
html{
	height: 100%;
	width: 100%;
}
#map{
	height: 86vh;
	width: 100%;
	position: absolute;
	border-radius: 10px;	
}
#Sidebar{
	z-index: 5;
	background-color: #0e1a2d;
}
li{
	list-style-type: none;
	line-height: 38px;
	font-size: 20px;
	margin-left: -30px;
}
span:hover{
	color: #ffffff;
}
span{
	color: #9b9b9b;
}
a, a:hover{
	text-decoration: none;
}
h3{
	color: #ffffff !Important;
	text-align: center;
	background-color: #0e1a2d;
	padding: 15px 0 10px 0;
}
h5{
	color: #ffffff;
	padding: 40px 0 10px 0;
}
#searchBar{
	padding: 10px 0 10px 0;
}